 .content-container {
     width: 50%;
     /* 宽度设为 100% 的容器，占满其父容器的宽度 */
     max-width: 1200px;
     /* 最大宽度限制为 1200px */
     margin: 0 auto;
     /* 自动水平居中对齐 */
     padding: 20px;
     /* 内边距，控制内容与边框之间的距离 */
     display: flex;
     /* 使用 Flexbox 布局 */
     flex-direction: column;
     /* 内容方向为纵向排列 */
     align-items: center;
     /* 内容在主轴（纵向）方向上居中对齐 */
     justify-content: center;
     /* 内容在交叉轴（横向）方向上居中对齐 */
     white-space: nowrap;
     /* 防止文字换行 */

 }

 .title-text {
     width: 100%;
     /* 使 .MaxText 的宽度占满整个容器 */
     font-size: calc(10px + 3vw);
     /* 字体大小随着屏幕宽度变化 */
     font-weight: bold;
     /* 字体加粗 */
     color: #000000;
     /* 设置文字颜色为灰色 */
     letter-spacing: calc(1px + 1vw);
     /* 字间距随着屏幕宽度变化 */
     margin: 0;
     /* 去除默认外边距 */
     padding: 0;
     /* 去除默认内边距 */
     text-align: center;
 }


 .content-text {
     font-size: 24px;
     /* 设置字体大小 */
     color: rgb(155, 155, 155);
     /* 设置文字颜色 */
     text-align: left;
     /* 设置文本对齐方式 */
     line-height: 1;
     /* 设置行高 */
     margin: 20px;
     /* 设置外边距 */
 }