/* 打字动画 */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* 光标闪烁动画 */
@keyframes cursor {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* 打字效果容器 */
.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    /* 添加最小宽度 */
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

/* 打字效果文本 */
.typing-text {
    font-size: calc(12px + 5vw);
    /* 调整字体大小以适应小屏幕 */
    font-weight: bold;
    color: #a1a1a1;
    letter-spacing: calc(0.5px + 1vw);
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: auto;
    /* 确保文本宽度自适应 */
    border-right: 2px solid #a1a1a1;
    animation: typing 5s steps(30, end) 1 normal both;
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}

/* 光标效果 */
.typing-text::after {
    content: '';
    /* 清除之前的光标字符 */

    right: 0;
    /* 光标位置在文本右侧 */
    bottom: 0;
    width: 1px;
    /* 设置光标宽度 */
    height: 1em;
    /* 使用 em 确保光标与字体高度一致 */
    background-color: #a1a1a1;
    /* 光标颜色与文本一致 */
    animation: cursor 0.7s steps(1) infinite;
    /* 光标闪烁动画 */
    animation-delay: 1s;
    /* 延迟使光标在打字结束后消失 */
    animation-fill-mode: forwards;
    /* 保持最后状态 */
}