/* 相册容器 */
.photo-gallery-container {
    position: relative;
    width: auto;
    height: 400px;
    /* 固定高度与照片项一致 */
    display: flex;
    align-items: center;
    /* 竖直方向居中内容 */
}

/* 实际内容区域 */
.photo-gallery {
    display: flex;
    scroll-snap-type: x mandatory;
    /* 强制横向滚动对齐 */
    white-space: nowrap;
    /* 防止换行 */
    height: 100%;
    /* 确保高度与容器一致 */
    width: 100%;
    /* 留出按钮空间 */
    overflow-x: auto;
    /* 允许横向滚动 */
    overflow-y: hidden;
    /* 禁用竖向滚动 */
}


/* 相册名称容器，靠近页眉下方，左侧对齐 */
.Photograph-title-container {
    position: relative;
    /* 设定相对定位，使内部绝对定位的元素相对于这个容器定位 */
    width: 100%;
    /* 容器宽度为整个视口的宽度 */
    padding: 20px;
    /* 容器内部四周添加20像素的内边距 */
    margin-top: 100px;
    /* 容器顶部外边距设置为100像素，使其距离页眉100像素 */
    display: flex;
    /* 使用 Flexbox 布局模式来排版容器内的子元素 */
    justify-content: flex-start;
    /* 子元素水平靠左对齐 */
}


/* 文字设置，左对齐，字体缩小 */
.Photograph-title-text {
    font-size: 18px;
    font-weight: bold;
    /* 字体加粗 */
    color: rgb(255, 255, 255);
    /* 文字颜色设置为白色 */
    text-transform: uppercase;
    /* 将文本转换为大写 */
}

.photo-gallery-wrapper {
    width: 100%;
    height: 400px;
    /* 根据需要调整高度 */
    overflow-x: auto;
    /* 启用横向滚动 */
    overflow-y: hidden;
    /* 禁用竖向滚动 */
    white-space: nowrap;
    /* 防止换行 */
}

/* 照片项 */
.photo-item {
    display: inline-block;
    width: auto;
    /* 照片容器宽度固定 */
    height: 400px;
    /* 照片容器高度固定，保持18:9比例 */
    margin: 0 10px;
    /* 照片项左右间距 */
    overflow: hidden;
    transition: transform 0.3s ease;
    /* 平滑的放大效果 */
    scroll-snap-align: start;
    /* 滚动对齐到开始位置 */
}

.photo-item img {
    width: auto;
    height: 100%;
}

.photo-item:hover {
    transform: scale(1.05);
    /* 鼠标悬停时放大 */
}