/* 容器，靠近页眉下方，左侧对齐 */
.Photograph-title-container {
  position: relative;
  /* 设定相对定位，使内部绝对定位的元素相对于这个容器定位 */
  width: 100%;
  /* 容器宽度为整个视口的宽度 */
  padding: 20px;
  /* 容器内部四周添加20像素的内边距 */
  margin-top: 100px;
  /* 容器顶部外边距设置为100像素，使其距离页眉100像素 */
  display: flex;
  /* 使用 Flexbox 布局模式来排版容器内的子元素 */
  justify-content: flex-start;
  /* 子元素水平靠左对齐 */
}

/* 文字设置，左对齐，字体缩小 */
.Photograph-title-text {
  font-size: 20vw;
  /* 字体大小为视口宽度的10%，随屏幕宽度变化而变化 */
  font-weight: bold;
  /* 字体加粗 */
  color: white;
  /* 文字颜色设置为白色 */
  text-transform: uppercase;
  /* 将文本转换为大写 */
  font-family: 'Bauhaus 93', 'Microsoft YaHei', '微软雅黑', sans-serif;
  /* 英文使用 Bauhaus，中文使用微软雅黑 */
}