/* CSS 重置样式 */
/* 统一 html 和 body 元素的样式 */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* 链接样式 */
a {
    text-decoration: none !important;
    /* 移除默认下划线 */
    color: rgb(255, 255, 255);
    /* 链接字体颜色 */
}

/* 页眉容器样式 */
.header-container {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 60px 50px;
    z-index: 1000;
    line-height: 20px;
    white-space: nowrap;
}

/* 页眉样式 */
.header {
    font-size: 32px;
    margin: 0;
    transition: color 0.3s ease;
    font-family: 'Bauhaus 93', sans-serif;
}


/* 页脚样式 */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}