/* 图片和文字布局容器 */
.content-container {
    display: flex;
    align-items: center;
    /* 在纵向方向上居中对齐内容 */
    max-width: 1800px;
    /* 最大宽度限制 */
    margin: 0 100px;
    /* 自动水平居中对齐 */
}

/* 图片样式 */
.content-pic {
    margin-right: 20px;
    /* 图片和文字之间的间距 */
}

/* 文字样式 */
.content-text {
    font-size: 18px;
    /* 设置字体大小 */
    color: rgb(255, 255, 255);
    /* 设置文字颜色 */
    line-height: 2;
    /* 设置行高 */
    width: auto;
    margin: 0 100px;
    /* 自动水平居中对齐 */
}