/* 媒体查询中使用 CSS 变量 */
@media only screen and (min-width: 1200px) {
    :root {
        --background-image-url: url('./PIC/large.jpg');
        /* 大屏幕背景图片 */
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    :root {
        --background-image-url: url('./PIC/medium.jpg');
        /* 中等屏幕背景图片 */
    }
}

@media only screen and (max-width: 767px) {
    :root {
        --background-image-url: url('./PIC/small.jpg');
        /* 小屏幕背景图片 */
    }
}

/* 针对小屏幕的媒体查询 */
@media only screen and (max-width: 768px) {
    .header-container {
        display: flex;
        flex-direction: row;
        /* 横向排列页眉内容 */
        justify-content: space-between;
        /* 页眉内容两端对齐 */
        align-items: center;
        /* 垂直居中对齐 */
        padding: 1rem;
        /* 调整内边距以适应小屏幕 */
        box-sizing: border-box;
        /* 包含内边距和边框的高度 */
    }

    .header-icon {
        /* 页眉左侧的图标 */
        margin-right: auto;
        /* 图标与文字之间的间距 */
    }

    .menu {
        display: flex;
        /* 使用 Flexbox 布局 */
        flex-direction: column;
        /* 竖向排列菜单按钮 */
        align-items: flex-end;
        /* 右对齐菜单按钮 */
        position: absolute;
        /* 绝对定位菜单 */
        top: 2rem;
        /* 设置顶部位置 */
        right: -1.5rem;
        /* 设置右侧位置 */
        padding: 1rem;
        /* 设置内边距 */
        text-align: right;
        /* 使按钮中的文字靠右对齐 */
    }

    .menu-button {
        display: block;
        /* 确保 menu-button 是块级元素 */
        min-width: auto;
        /* 去除最小宽度限制 */
        padding: 0.5rem 0.75rem;
        /* 减少内边距以适应小屏幕 */
        margin: 0 0.5vw;
        /* 缩小按钮间距 */
        font-size: 1rem;
        /* 进一步缩小字体大小 */
        text-align: right;
        /* 确保文本右对齐 */
    }

    .content {
        padding-top: 5rem;
        /* 根据实际的页眉高度调整 */
    }
}